.sidebar_content_main{
    display: flex;
    padding: 20px 0px 10px 10px;
    height: 100%;
    flex: 0.5;
    max-width: 200px;
    border-right: 1px solid grey
}

.sidebar_content_main1{
    margin: 10px 0;
    display: flex;
    width:100%
}

.sidebar_content_main2{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.sidebar_content_option{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: skyblue
}

a:hover{
    color: blue;
}

.sidebar_content_option >p{
    color: whitesmoke;
    font-size: 14px
}

.link{
    display: flex;
    flex-direction: column;
}

.link-tag{
    display: flex;
    align-items: center;
    padding: 5px 0;
    width: 100%;
}

.link-tag:hover{
    border-right: 5px solid rgba(245,162,9);
}

.link-tag > .MuiSvgIcon-root{
    font-size: 18px;
    margin-right: 5px;
    color: rgba(245,162,9);
}

.tags{
    display: flex;
    flex-direction: column;
    color: skyblue;
    margin: 0px 24px;
}

.tags > p{
    margin: 5px 0px;
}

.tags > p:hover{
    color: blue;
}

